@page "/login"
<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .form-label {
        color: black;
        font-weight: bold;
    }

    .Login-Section {
        padding: 30px 40px;
        width: 420px;
        background: #FAFAFA;
        color: black;
        border-radius: 10px; 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

        .Login-Section h1 {
            font-size: 36px;
            text-align: center;
            font-weight: 600;

        }

        .Login-Section .input-box {
            width: 100%;
            height: 50px;
            margin: 30px 0;
            position: relative;
            color: white;
        }

    .forget {
        margin-left: 5px;
        margin-bottom: 10px;
    }

        .forget a {
            text-decoration: none;
            color: black;
        }

            .forget a:hover {
                text-decoration: underline;
            }

    .log-btn {
        width: 100%;
        height: 45px;
        background: white;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        color: black;
        font-weight: 600;
        font-size: larger;
        margin-top: 10px;
    }
</style>
<div class="Login-Section">
    <form action="" @onsubmit="HandleLogin">
        <h1>Login</h1>
        <div class="input-box">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" @bind="User.Username" required>
        </div>
        <div class="input-box">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" @bind="User.Password" required>
        </div>

        <div class="input-box">
            <label class="form-label">Currency</label>
            <select type="text" class="form-control">
                @foreach (var cur in Enum.GetValues(typeof(Money)))
                {
                    <option value="@cur">@cur</option>
                }
            </select>

        </div>
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
           <div class="alert alert-danger">@ErrorMessage</div>
        }
        <div class="forget">
            <a href="#">Forget Password</a>
        </div>
        <button type="submit" class="log-btn">Login</button>
    </form>
</div>




